<div class="container mt-5">
  <app-search-modal></app-search-modal>
  <div class="row">
    <div class="col-md-4" *ngFor="let estate of estates">
      <div
        id="img-col"
        class="card mb-4 box-shadow"
        *ngIf="estate.isAvailable == 1"
      >
        <img
          class="card-img-top"
          alt="{{ 'stan u '.concat(estate.town) }}"
          style="height: 250px; width: 100%; display: block"
          src="{{ estate.imgLinks?.[0] }}"
          data-holder-rendered="true"
        />
        <div class="card-body">
          <p class="card-text">
            {{
              estate.description
                .split(".")[0]
                .concat(estate.description.split(".")[1])
            }}
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a
                routerLink="/view-estate/{{ estate.id }}"
                class="btn btn-warning"
                >View Estete</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

