<div class="container mt-100">
  <button
    *ngIf="isAdmin"
    type="button"
    class="btn btn-warning mb-3 ml-1"
    data-toggle="modal"
    data-target="#addEvent"
  >
    Add event
  </button>
  <div class="row">
    <div class="col-md-4 col-sm-6" *ngFor="let event of events; let i = index">
      <div class="card mb-30">
        <a class="card-img-tiles" href="#" data-abc="true">
          <div class="inner">
            <div class="main-img">
              <img src="{{ event.img }}" alt="Category" />
            </div>
          </div>
        </a>
        <div class="card-body text-center">
          <h4 class="card-title">{{ event.tittle_event }}</h4>
          <p class="text-muted">{{ event.timeOf_event }}</p>
          <a
            class="btn btn-outline-primary btn-sm"
            data-toggle="modal"
            data-target="#eventModal"
            data-abc="true"
            (click)="setCurrentEventIndex(i)"
            >View details</a
          >
        </div>
      </div>
      <app-event-modal
        [event]="events"
        [index]="currentEventIndex"
      ></app-event-modal>
    </div>
  </div>
</div>
<app-footer></app-footer>
<app-add-event (toggleToastr)="toggleModal($event)"></app-add-event>
<!-- <app-event-modal [event]="events" [index]="currentEventIndex"></app-event-modal> -->
