<table class="table align-middle mb-0 bg-white bg-dark">
  <thead class="bg-warning">
    <tr>
      <th></th>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Gmail</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>
        <div class="d-flex align-items-center">
          <mat-icon>person</mat-icon>
        </div>
      </td>
      <td>
        <p class="fw-bold mb-1">{{ user.ime }}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{ user.prezime }}</p>
      </td>
      <td>
        <p class="fw-normal mb-1">{{ user.gmail }}</p>
      </td>
      <td>
        <a
          routerLink="/view-user/{{ user.id }}"
          *ngIf="currentLoggedUserId !== user.id"
          class="btn btn-primary"
        >
          View User Profile
        </a>
      </td>
    </tr>
  </tbody>
</table>
