<div
  class="container-fluid d-flex justify-content-center align-items-center not-cont"
>
  <div class="row w-100">
    <div class="col-auto">
      <div
        class="d-flex flex-column flex-shrink-0 p-3 bg-light"
        style="width: 280px"
      >
        <span class="fs-4">Notification Center</span>
        <hr />
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a
              (click)="selectLink('messages')"
              class="nav-link link-dark"
              [class.active]="selectedLink === 'messages'"
            >
              Messages
            </a>
          </li>
          <li>
            <a
              (click)="selectLink('friend-request')"
              class="nav-link link-dark"
              [class.active]="selectedLink === 'friend-request'"
            >
              Friend Requests
            </a>
          </li>
          <li>
            <a
              (click)="selectLink('roommate-request')"
              class="nav-link link-dark"
              [class.active]="selectedLink === 'roommate-request'"
            >
              Roommate Requests
            </a>
          </li>
          <li>
            <a
              (click)="selectLink('friend-list')"
              class="nav-link link-dark"
              [class.active]="selectedLink === 'friend-list'"
            >
              Friend Lists
            </a>
          </li>
          <li>
            <a
              (click)="selectLink('current-roomate')"
              class="nav-link link-dark"
              [class.active]="selectedLink === 'current-roomate'"
            >
              Current Roomate
            </a>
          </li>
        </ul>

        <hr />
      </div>
    </div>
    <div class="col">
      <div class="col text-center">
        <app-roommate-requests
        [roommateRequestsList]="loggedUserRoommateRequestsList"
          *ngIf="selectedLink === 'roommate-request'"
        ></app-roommate-requests>
        <app-current-roommate
          [user]="loggedUserRoomateData"
          *ngIf="selectedLink === 'current-roomate'"
         
        ></app-current-roommate>
        <app-view-messages
          *ngIf="selectedLink == 'messages'"
        ></app-view-messages>
        <app-friend-requests
          [listOfUsers]="loggedUserRequests"
          *ngIf="selectedLink == 'friend-request'"
        ></app-friend-requests>
        <app-friend-list
          [listOfFriends]="userFriends"
          *ngIf="selectedLink == 'friend-list'"
        ></app-friend-list>
      </div>
    </div>
  </div>
</div>
