<div class="d-flex flex-column flex-shrink-0 bg-light" style="width: 4.5rem">
  <ul class="nav nav-pills nav-flush flex-column mb-auto text-center">
    <li class="nav-item">
      <a
        (click)="selectLink('messages')"
        href="#"
        class="nav-link py-3 border-bottom"
        aria-current="page"
        title="See Messages"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <mat-icon> chat_bubble</mat-icon>
      </a>
    </li>
    <li class="nav-item">
      <a
        (click)="selectLink('messages')"
        href="#"
        class="nav-link py-3 border-bottom"
        aria-current="page"
        title="See Messages"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Home"
      >
        <mat-icon>person_add</mat-icon>
      </a>
    </li>
    <li>
      <a
        routerLink="/user"
        class="nav-link py-3 border-bottom bg-dark"
        title="Go Back"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        data-bs-original-title="Orders"
      >
        <mat-icon>arrow_back</mat-icon>
      </a>
    </li>
  </ul>
</div>
<app-view-messages></app-view-messages>
