<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li (click)="selectLink('messages')" class="breadcrumb-item">
            <a>Messages</a>
          </li>
          <li (click)="selectLink('friend-request')" class="breadcrumb-item">
            Friend Requests
          </li>
          <li
            (click)="selectLink('friend-list')"
            title="See your friend list"
            class="breadcrumb-item active"
            aria-current="page"
          >
            <a>Roomate List</a>
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>
<div class="row">
  <div class="col text-center">
    <app-view-messages *ngIf="selectedLink == 'messages'"></app-view-messages>
    <app-friend-requests
      [listOfUsers]="loggedUserRequests"
      *ngIf="selectedLink == 'friend-request'"
    ></app-friend-requests>
    <app-friend-list
      [listOfFriends]="userFriends"
      *ngIf="selectedLink == 'friend-list'"
    ></app-friend-list>
  </div>
</div>
