<div class="container w-50">
  <div class="img-container text-center">
    <div class="row justify-content-center">
      <div class="col-auto">
        <div class="image-grid d-flex flex-row">
          <div class="image-item align-items-center">
            <img [src]="estate.imgLinks[0]" alt="..." class="img-fluid" />
          </div>
          <div class="image-item align-items-center">
            <img
              *ngIf="
                estate.imgLinks &&
                estate.imgLinks.length > 1 &&
                estate.imgLinks[1]
              "
              class="card-img-top img-fluid"
              alt="{{ 'stan u '.concat(estate.town) }}"
              [src]="estate.imgLinks[1]"
              data-holder-rendered="true"
            />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="desc-container">
    <div class="row">
      <div class="col">
        <h2 class="text-center">{{ estate.town }}</h2>
        <p>{{ estate.description }}</p>
        <div class="price-like">
          <span>
            <mat-icon class="color">thumb_up</mat-icon>
            {{ numberOfLikes }} likes</span
          >
          <h4>Cijena:{{ estate.price }}Eur</h4>
          <mat-icon (click)="userLikedEstate()" *ngIf="likeIcon"
            >favorite</mat-icon
          >
          <mat-icon (click)="userLikedEstate()" *ngIf="!likeIcon"
            >favorite_border</mat-icon
          >
        </div>
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModal"
        >
          Reserve
        </button>
      </div>
    </div>
  </div>
  <div class="liked">
    <p class="blockquote">View who liked this estate in {{ estate.town }}</p>
    <span class="btn" (click)="toggleModal()"
      ><mat-icon *ngIf="showModal">keyboard_arrow_up</mat-icon>
      <mat-icon *ngIf="!showModal">keyboard_arrow_down</mat-icon>
    </span>
  </div>
  <app-liked-modal
    [users]="users"
    [currentLoggedUserId]="currentLoggedUserId"
    *ngIf="showModal"
  ></app-liked-modal>
</div>

<app-reserve-estate
  [estateID]="estate.id"
  [listOfFriends]="userFriends"
></app-reserve-estate>
