<section class="home">
  <div class="description">
    <h1 class="title">
      <span class="gradient-text">Find Your Roomate</span> with the Best
    </h1>
    <p class="paragraph text-info">
      Welcome to RoomateFinder – your ultimate destination for finding the
      perfect roommate and discovering the potential of shared living! In a
      world full of opportunities, finding the right roommate can be crucial for
      creating a positive and supportive environment. RoomateFinder allows you
      to connect with potential roommates who are compatible with your needs and
      lifestyle. Join the RoomateFinder community today and embark on your
      journey towards harmonious and supportive living!
    </p>
    <button
      type="submit"
      class="btn"
      aria-label="submit"
      (click)="navigateHome()"
    >
      <span>See Our Offer of Estates</span>
    </button>
  </div>

  <div class="users-color-container">
    <span class="item" style="--i: 1"></span>
    <img
      class="item"
      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/274f29ce-0d3f-4ac2-a2aa-f9b7bd188b2a"
      style="--i: 2"
      alt=""
    />
    <span class="item" style="--i: 3"></span>
    <img
      class="item"
      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/b8a14493-3d9f-4b9b-b93a-56d0bc7243e9"
      style="--i: 4"
      alt=""
    />

    <img
      class="item"
      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/03e51e1e-9750-45a5-b75e-a1e341d4562a"
      style="--i: 10"
      alt=""
    />
    <span class="item" style="--i: 11"></span>
    <img
      class="item"
      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/5eb50f89-3e5a-480e-860c-8d40d3ba9ffe"
      style="--i: 12"
      alt=""
    />
    <span class="item" style="--i: 5"></span>

    <span class="item" style="--i: 9"></span>
    <img
      class="item"
      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/86c71a79-2efe-4567-8665-b1e5a1fd9735"
      style="--i: 8"
      alt=""
    />
    <span class="item" style="--i: 7"></span>
    <img
      class="item"
      src="https://github.com/ecemgo/mini-samples-great-tricks/assets/13468728/97ef9643-5202-41aa-80f0-ceeabccdd099"
      style="--i: 6"
      alt=""
    />
  </div>
</section>
