<header>
  <nav class="px-3 navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <img
      src="../../../../assets/snooze.png"
      alt="logo"
      class="logo mr-3 ml-2"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span></button
    ><!--provjerti ovaj button-->
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active" *ngFor="let link of links">
          <a
            *ngIf="link.url !== '/offer'"
            class="nav-link"
            routerLink="{{ link.url }}"
            >{{ link.title }}
          </a>
          <a
            *ngIf="link.url == '/offer'"
            (click)="offerClicked()"
            class="nav-link"
            routerLink="{{ link.url }}"
            >{{ link.title }}
          </a>
        </li>
        <li class="nav-item active" *ngIf="isAdmin">
          <a class="nav-link" routerLink="/administration">Administration </a>
        </li>
      </ul>
      <form class="form-inline mt-2 mt-md-0">
        <div *ngIf="!loggedIn" class="form">
          <input
            [(ngModel)]="inputSearch"
            [ngModelOptions]="{ standalone: true }"
            (keyup.enter)="searchByLocation()"
            type="text"
            class="form-control form-input"
            placeholder="Search anything..."
          />
        </div>

        <div *ngIf="loggedIn" class="dropleft">
          <button
            class="btn btn-warning"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <mat-icon>perm_identity</mat-icon>
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <span class="dropdown-item">{{ user.ime }} {{ user.prezime }}</span>
            <a class="dropdown-item" routerLink="/notifaction"
              >Notifacation center</a
            >
            <a class="dropdown-item" routerLink="/user">Settings</a>
            <a
              (click)="logout()"
              *ngIf="loggedIn"
              routerLink="register"
              type="button"
              class="btn btn-warning dropdown-item"
              >Log Out</a
            >
          </div>
        </div>

        <div class="text-end">
          <a
            *ngIf="!loggedIn"
            routerLink="login"
            type="button"
            class="btn btn-outline-light me-2"
          >
            Login
          </a>
          <a
            *ngIf="!loggedIn"
            routerLink="register"
            type="button"
            class="btn btn-warning"
            >Sign-up</a
          >
        </div>
      </form>
    </div>
  </nav>
</header>
